body{
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
    120deg,
    #000000,
    #1a0000,
    #330000
  );
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0 100px;
  text-align: center;
}
#maintitle{
  font-size: 55px;
}
#buttonsurprise{
  font-size: 25px;
  background: #e50914;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.4s ease;
}
#buttonsurprise:hover{
  background: #b9010a;
  color: rgb(255, 255, 191);
}
#moviephoto{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
