body{
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(120deg,#000000,#1a0000,#330000);
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
main{
  justify-content: center;
  text-align: center;
  margin: 50px
}
/* Definição da animação de giro */
@keyframes giroSurpresa {
  0% {
    transform: rotateY(0deg) scale(1);
    opacity: 1;
  }
  50% {
    transform: rotateY(180deg) scale(0.5);
    opacity: 0.5;
  }
  100% {
    transform: rotateY(360deg) scale(1);
    opacity: 1;
  }
}

/* Classe que o JS vai colocar na foto */
.animar-foto {
  animation: giroSurpresa 0.8s ease-in-out;
}
#maintitle{
  font-size: 45px;
  margin-bottom: 20px;
}

#buttonsurprise{
  font-size: 25px;
  background: #e50914;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px 0;
  transition: background 0.4s ease;
}
#buttonsurprise:hover{
  background: #b9010a;
  color: rgb(255, 255, 191);
}
#moviephoto{
  border-radius: 20px;
  max-width: 300px;
  height: auto;
  margin: 20px auto;
  display: block;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.5);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  padding: 40px 20px;
}

footer {
    width: 100%;             /* Isso faz a linha atravessar a tela toda */
    padding: 20px 0;
    border-top: 1px solid #333; /* A linha que você pediu */
    background-color: #000;  /* Garante que o fundo seja preto */
    text-align: center;
    margin-top: auto;        /* Garante que ele fique no final */
}

footer p {
    margin: 0;
    color: #888;
    font-size: 0.9rem;
}